.App{
background-image: url("150016-vertical-biology-wallpaper-1920x1200.jpg")!important;
/* opacity:.8; */
height:100vh;
}
.medFormText{
  color:white;
  
  /* text-align: center ; */
}
.card{
  opacity:.8;
  margin:10px;
  padding:7px;
  
}
.theContainer{
  padding:4px;
  overflow-y: scroll;
  height:87.2vh;
}
.theOtherContainer{
  padding:4px;
  overflow-y: scroll;
  height:90vh;
}
.nav{
  opacity: .8;
  /* height:6vh; */
}
.noteText{
  opacity:.8;
}
.divSize{
  width:100vw;
}
/* .viewNotes{
  position: absolute;
  right:50px;

} */
.signOut{
  position: absolute;
  top:8px;
}
